   <div class="footer-container">
        <div class="footer-logo">
            <span class="code-bracket">&lt;</span> janin <span class="code-bracket">/&gt;</span>
        </div>
        
        <div class="footer-links">
            <a href="https://www.roblox.com/users/88302426/profile" target="_blank">Roblox</a>
             <a href="https://www.youtube.com/@janin_dev" target="_blank">Youtube</a>
             <a href="https://x.com/janin_dev" target="_blank">Twitter</a>
            <a href="#contact">Discord</a>
        </div>

        <div class="footer-copy">
            &copy; 2026 janin. built from the ground up.
        </div>
    </div>