.about {
    position: relative;
    padding: 100px 10%;
    background-color: var(--bg-secondary); /* A slightly lighter/darker shade than hero */
    color: var(--text-main);
    overflow:hidden;
}

.about-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items:flex-start;
    gap: 60px;
    flex-wrap: wrap; /* Essential for mobile */
    
}

.about-image {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
}

.image-border {
    position: relative;
    border: 2px solid var(--secondary-color);
    padding: 15px;
    border-radius: 20px;
}

.about-text {
    flex: 1 1 250px;
}

.glow-1 {
    top: -200px;
    left: -100px;
}


.glow-2 {
    bottom: -200px;
    right: -100px;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-text p {
    line-height: 1.6;
    color: var(--text-dim);
    margin-bottom: 20px;
}

/* Skill Tags Styling */
.skills {
    
    flex: 1 1 250px;
}

.skills h2 {
    width: fit-content;
    border-bottom: solid var(--secondary-color);
}
.skills-grid {
  display: grid;
    /* This creates as many columns as possible (at least 120px wide) */
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
    margin-top: 30px;
}

.skill-tag {
background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px;
    border-radius: 8px;
    font-family: monospace;
    font-size: 0.9rem;
    color: var(--secondary-color);
    
    /* Center the text inside the grid cell */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    transition: all 0.3s ease;
}

.skill-tag:hover {
    background: var(--secondary-color);
    color: #000;
}