.main-footer {
    background-color: var(--bg-primary);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding: 60px 0 30px 0;
    margin-top: 25px; /* Separates it from the last section */
}

.footer-container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer-logo {
    font-weight: 700;
         text-shadow: 0 0 10px white;
    font-size: 1.5rem;
    color: var(--text-main);
}

.footer-links {
    display: flex;
    gap: 40px;
}

.footer-links a {
    text-decoration: none;
    color: var(--text-dim);
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--secondary-color);
}

.footer-copy {
    font-size: 0.8rem;
    color: var(--text-dim);
    opacity: 0.6;
    margin-top: 20px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .footer-container {
        width: 90%;
    }
}