.glow-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    
    /* Using your secondary color with very low opacity */
    background: radial-gradient(circle, var(--secondary-color) 0%, transparent 100%);
    
    filter: blur(80px); /* Softens the edges significantly */
    opacity: 0.15;      /* Keeps it subtle and "mellow" */
    pointer-events: none; /* Allows clicks to pass through to links/buttons */
    z-index: 0;

    
}

.glow-circle.center{
    top: 50%;
    left: 50%;
    
}



