.modal-overlay {
    position: fixed;
    inset: 0; /* shortcut for top/left/right/bottom: 0 */
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    padding: 20px;
}

.modal-overlay.active { display: flex; }

.modal-content {
    background: rgba(20, 20, 20, 0.95);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    width: 100%;
    max-width: 1100px;
    height: 50vh;
    display: flex;
    flex-wrap:wrap;
    position: relative;
    overflow: hidden; /* prevents modal itself from scrolling, we scroll the text side instead */
    padding: 10px;
}

.modal-layout {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    width: 100%;
}

.modal-visual {
    background: #000;
    position: relative;
    width: 100%;
    align-self: center;
    /* This ensures the video maintains a 16:9 ratio even when the modal scales */
    aspect-ratio: 16 / 9; 
}

.modal-visual iframe, .modal-visual video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.modal-details {
    padding: 40px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* This side scrolls if the text is long */
    
}

.close-btn {
    position: absolute;
    top: 20px; right: 20px;
    background: none; border: none;
    color: white; font-size: 2.5rem;
    cursor: pointer; z-index: 10;
}



